{% extends 'films/base.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<div class="main-title">
    <h1>{{ category.name }}</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-2">
    {% for m in movies %}
        <div class="col">
            <div class="card h-100 ">
                <img src="{{ m.image.url }}" class="card-img-top img-fluid rounded-start" alt="Изображение">
                <div class="card-body">
                    <a href="{{ m.get_absolute_url }}" class="custom-link"><h2 class="custom-title">{{ m.title }}</h2></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
